@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900');

/* Box Model */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
    min-width: 320px;
    overflow-x: hidden;
}

body {
  background: #f4f4f4;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  animation: none;
  transition: none;
}

body, input, select, textarea {
  color: #646464;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.75;
}

body {
  padding: 0;

  // @include respondTo(medium) {
  //   padding-top: 3.5em;
  // } 
  // @include respondTo(large) {
  //   padding-top: 3.5em;
  // } 
  // @include respondTo(xlarge) {
  //   padding-top: 3.5em;
  // }

  // background-color: yellow;
}

a {
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
  color: inherit;
  text-decoration: none;
}

a:before {
  transition: color 0.2s ease;
}

a:hover {
  border-bottom-color: transparent;
  color: #2ebaae;
}

a:hover:before {
  color: #2ebaae;
}

h1, h2, h3, h4, h5, h6 {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  border-bottom: 0;
}

h2 {
font-size: 1.1em;
}

h3 {
font-size: 0.9em;
}

h4 {
font-size: 0.7em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.7em;
}


