$iconColor: #fff;
$color: #999;

.searchBar {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: 'FontAwesome';
    content: '\f002';
    background: $color;
    text-align: center;
    color: $iconColor;
    border-radius: 5px;
    font-smooth: always;
  }

  &__inputText {
    width: 100%;
    border: 5px solid $color;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
}



