@import "site-container";
@import "navigation";
@import "navigation-site-nav";
@import "menu";
@import "main-content";
@import "./mobile-menu/mobile-menu";
@import "site-cover";
@import "site-show";
@import "footer";
@import "search";
@import "panel-container";
@import "media";
@import "image";
@import "book-form";
@import "data-form";
@import "buttons";
@import "slide-show";
@import "selectric";
@import "drop-menu";
@import "animated-background";
@import "./chosen/chosen";
@import "./search-bar/search-bar";
@import "./logon-form/logon-form";
@import "./flip-card/flip-card";
@import "./three-d-menu/three-d-menu";


.toggle-menu {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 10px 10px 0 0;
  transition: margin .2s;
  background: transparent;
  border: 0;

  @include break(md) {
  	display: none;
  }
}

.top-image {
  max-width: 100%;
  height: auto;
}

main {
  display: block;
  padding: 0 20px;
}

.scroller {
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, .2);
}

.scroller .logo {
  padding: 10px 20px;
  font-size: 1.5rem;
}

.scroller nav {
  align-items: center;
}

.scroller .logo,
.scroller ul,
.scroller .toggle-menu {
  margin: 0;
}


// @media screen and (max-width: 1060px) {
//   header {
//     padding: 10px;
//   }
  // nav {
  //   align-items: center;
  // }
  // ul {
  //   display: none;
  // }
  // .logo {
  //   max-width: 130px;
  //   max-height: 100px;
  //   margin: 5px 0 0 5px;
  // }
  // .toggle-menu {
  //   display: block;
  // }
// }